@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import './theme.scss';
@import './layout.scss';
html {
    height: 100%;
    body {
        height: 100%;
        margin: 0;
        * {
            font-family: 'Comfortaa', serif;
        }
    }
}

// .unicorn-dark-theme {
//     * {
//         background: #424242 !important;
//         color: white !important;
//     }
// }